{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block title %} blogHome{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block content %}
<div class="container my-4 text-justify">
    <h1><b>Coding Articles</b></h1>
    <hr>
    {% for post in allPosts %}
    <div style="background-color:white;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4 cbox">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.user}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.text|truncatechars:300}}</p>
          <div class="my-2">
          <a href="/detail/{{post.id}}" role="button" class="btn btn-outline-success">Continue reading</a>
          </div>
        </div>
         
      </div>
    {% endfor %}
</div>
{% endblock content %}